.big-button{
    background-color: $purple;
    border: none;
    border-bottom: 0.6rem solid darken($purple, $amount: 10%) ;
    color: white;
    font-size: $b_size;
    
    padding: 2.4rem;
    margin-bottom: $m-size;
    width: 100%;


}

.big-button:disabled {
    opacity: 0.5;
}

.button {
    background: $purple;
    border: none;
    border-bottom: 0.3rem solid darken($purple, $amount: 10%) ;
    color: white;
    padding: 0.6rem;
}
.button--link {
    background: none;
    border: none;
    color: white;
    padding:0;
}