.header {
    background: #3c3648;
    margin-bottom: 1rem;
    padding: 1.3rem;
   
}

.header__title {
    font-size: 2.6rem;
    font-weight: 1000;
    color: #ffffff;
    margin: 0;
   
}
.header__subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: #df5252;
    margin: 0;
    font-style: italic;

   
}